.footer{ 
    width:1903px;height:148px;
    background-color:#F2F2F2;
    .left{
    
        .top{
              width:100%;
              padding-left:0;
              list-style-position: inside;
              &::after {
                content:"";
                display:block;
                clear: both;
         
    
            }
         li:first-child{
             margin-left:0;
         }

            
            li{

                border-right:1px solid #D0D0D0 ;
                font-size:0.7rem;
                color:#999;
                float:left;
                padding-right: 2rem;
                list-style-type:none;
                margin:0 0.5rem;
            }
          } 
        p{
            font-size:0.7rem;
            color:#999;
         a{
             text-decoration: none;
             color:#999;
         }
        }
    }

} 